<%= form_with(model: [@book, @checkout_log], local: true) do |form| %>
  <% if checkout_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checkout_log.errors.count, "error") %> prohibited this checkout_log from being saved:</h2>

      <ul>
        <% checkout_log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="row">
    <dt class="col-sm-1"><%= form.label :checkout_date %></dt>
    <dd class="col-sm-11"> <%= form.datetime_select :checkout_date %></dd>

    <dt class="col-sm-1"> <%= form.label :due_date %></dt>
    <dd class="col-sm-11"><%= form.datetime_select :due_date %></dd>

    <dt class="col-sm-1"><%= form.label :returned_date %></dt>
    <dd class="col-sm-11"><%= form.datetime_select :returned_date %></dd>

    <dt class="col-sm-1"><%= form.label :subgenre %> </dt>
    <dd class="col-sm-11"> <%= form.text_field :subgenre %></dd>

    <dt class="col-sm-1"><%= form.label :user_id %></dt>
    <dd class="col-sm-11"><%= form.text_field :user_id %></dd>

    <dt class="col-sm-1"><%= form.label :book_id %></dt>
    <dd class="col-sm-11"><%= form.text_field :book_id %></dd> 
</dl>

  <div class="actions">
    <%= form.submit button_text, class: 'btn btn-primary py-0 m-1 btn-sm' %>
  </div>
<% end %>
