<h1>Checkout Logs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Checkout Date</th>
      <th>Due Date</th>
      <th>Returned Date</th>      
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkout_logs.each do |checkout_log| %>
      <tr>
        <td><%= checkout_log.user_id %></td>
        <td><%= checkout_log.book_id %></td>
        <td><%= checkout_log.checkout_date&.strftime("%B %d, %Y, %l:%M%p") %></td>
        <td><%= checkout_log.due_date&.strftime("%B %d, %Y, %l:%M%p") %></td>
        <td><%= checkout_log.returned_date&.strftime("%B %d, %Y, %l:%M%p") %></td>
        <td>
          <%= link_to 'Show', book_checkout_log_path(@book, checkout_log), class: 'btn btn-primary py-0 btn-sm' %>
          <%= link_to 'Edit', edit_book_checkout_log_path(@book, checkout_log), class: 'btn btn-primary py-0 btn-sm' %>
          <%= link_to 'Destroy', book_checkout_log_path(@book, checkout_log), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary py-0 btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkout Log', new_book_checkout_log_path, class: 'btn btn-primary py-0 m-1 btn-sm' %>

<%= link_to 'Back', books_path, class: 'btn btn-primary py-0 m-1 btn-sm' %>

<%= will_paginate(@checkout_logs) %>
