<p>
  <strong>Checkout Date:</strong>
  <%= @checkout_log.checkout_date&.strftime("%B %d, %Y, %l:%M%p") %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @checkout_log.due_date&.strftime("%B %d, %Y, %l:%M%p") %>
</p>

<p>
  <strong>Returned Date:</strong>
  <%= @checkout_log.returned_date&.strftime("%B %d, %Y, %l:%M%p") %>
</p>

<p>
  <strong>User:</strong>
  <%= @checkout_log.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @checkout_log.book_id %>
</p>

<%= link_to 'Edit', edit_book_checkout_log_path(@checkout_log), class: 'btn btn-primary py-0 m-1 btn-sm' %>
<%= link_to 'Back', book_checkout_logs_path, class: 'btn btn-primary py-0 m-1 btn-sm' %>
