<p>
  <strong>CheckoutDate:</strong>
  <%= @checkout_log.checkout_date&.strftime("%B %d, %Y, %l:%M%p") %>
</p>

<p>
  <strong>DueDate:</strong>
  <%= @checkout_log.due_date&.strftime("%B %d, %Y, %l:%M%p") %>
</p>

<p>
  <strong>ReturnedDate:</strong>
  <%= @checkout_log.returned_date&.strftime("%B %d, %Y, %l:%M%p") %>
</p>

<p>
  <strong>User:</strong>
  <%= @checkout_log.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @checkout_log.book_id %>
</p>

<%= link_to 'Edit', edit_book_checkout_log_path(@checkout_log) %> |
<%= link_to 'Back', book_checkout_logs_path %>
