

<p><%= @user.email %>, please visit the library and return the following overdue book(s):</p> 

<table class="table table-striped">
  <thead>
    <tr>
      <th>Book Id</th>
      <th>Book Number</th>
      <th>Title</th>
      <th>Checkout Date</th>
      <th>Due Date</th>      
    </tr>
  </thead>

  <tbody>
    <% @checkout_logs.each do |checkout_log| %>
      <tr>
        <td><%= checkout_log.book.id %></td>
        <td><%= checkout_log.book.book_number %></td>
        <td><%= checkout_log.book.title %></td>
        <td><%= checkout_log.checkout_date&.strftime("%B %d, %Y, %l:%M%p") %></td>
        <td><%= checkout_log.due_date&.strftime("%B %d, %Y, %l:%M%p") %></td>        
      </tr>
    <% end %>
  </tbody>
</table>