<h1>Book Details</h1>

<p>
  <strong>Book Number:</strong>
  <%= @book.book_number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Subgenre:</strong>
  <%= @book.subgenre %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Library:</strong>
  <%= @book.library.name %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>BookId</th>      
      <th>Status</th>          
    </tr>
  </thead>

  <tbody>
    <% @checkout_logs.each do |checkout_log| %>
      <tr>
        <td><%= checkout_log[0] %></td>        
        <td><%= (!checkout_log[2] && checkout_log[3]? "Signed out by " + checkout_log[1] : "Available") %></td>             
      </tr>
    <% end %>
  </tbody>
</table>

<br>