<h1>Book Listing</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Subgenre</th>
      <th>Pages</th>
      <th>Publisher</th>
      <th>Total Copies</th>
      <th>Available Copies</th>      
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book[0] %></td>
        <td><%= book[1] %></td>
        <td><%= book[2] %></td>
        <td><%= book[3] %></td>
        <td><%= book[4] %></td>
        <td><%= book[5] %></td>
        <td><%= book[7] %></td>
        <td><%= book[7] - (book[8]? book[8] : 0) %></td>
        <% if current_user.try(:admin?) %>
        <td><%= link_to 'Details',  book_listing_details_path(:book_number => book[6]) , class: 'btn btn-primary py-0 m-1 btn-sm' %>
        <% end %>
        <% if current_user && book[7] - (book[8]? book[8] : 0) > 0 %>           
        <%= link_to 'Borrow',  books_borrow_path(:book_number => book[6]) , class: 'btn btn-primary py-0 m-1 btn-sm' %>
        <% end %>  
        </td>      
        
      </tr>
    <% end %>
  </tbody>
</table>
