<p id="notice"><%= notice %></p>

<h1>My Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Subgenre</th>
      <th>Pages</th>
      <th>Publisher</th>      
      <th>DueDate</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkoutlogs.each do |checkoutlog| %>
      <tr>
        <td><%= checkoutlog.book.title %></td>
        <td><%= checkoutlog.book.author %></td>
        <td><%= checkoutlog.book.genre %></td>
        <td><%= checkoutlog.book.subgenre %></td>
        <td><%= checkoutlog.book.pages %></td>
        <td><%= checkoutlog.book.publisher %></td>
        <td><%= checkoutlog.due_date %></td>
        <td><%= link_to 'Return', books_return_path(:checkout_log_id => checkoutlog.id) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>