<h1>My Books</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Subgenre</th>
      <th>Pages</th>
      <th>Publisher</th>
      <th>Library</th>
      <th>Due Date</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkout_logs.each do |checkout_log| %>
      <tr>
        <td><%= checkout_log.book.id %></td>
        <td><%= checkout_log.book.title %></td>
        <td><%= checkout_log.book.author %></td>
        <td><%= checkout_log.book.genre %></td>
        <td><%= checkout_log.book.subgenre %></td>
        <td><%= checkout_log.book.pages %></td>
        <td><%= checkout_log.book.publisher %></td>
        <td><%= checkout_log.book.library.name %></td>
        <td><%= checkout_log.due_date&.strftime("%B %d, %Y, %l:%M%p") %></td>
        <td><%= link_to 'Return', books_return_path(:checkout_log_id => checkout_log.id), class: 'btn btn-primary py-0 m-1 btn-sm' %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>