<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Subgenre:</strong>
  <%= @book.subgenre %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary py-0 m-1 btn-sm' %>
<% end %>
<%= link_to 'Back', books_path, class: 'btn btn-primary py-0 m-1 btn-sm' %>

<% if current_user.try(:admin?) %>
<br>
<br>
<h4> Checkout History </h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>      
      <th>Checkout Date</th>
      <th>Due Date</th>
      <th>Returned Date</th>            
    </tr>
  </thead>

  <tbody>
    <% @checkout_logs.each do |checkout_log| %>    
      <tr>
        <td><%= checkout_log.user.email %></td>        
        <td><%= checkout_log.checkout_date&.strftime("%B %d, %Y, %l:%M%p") %></td>
        <td><%= checkout_log.due_date&.strftime("%B %d, %Y, %l:%M%p") %></td>
        <td><%= checkout_log.returned_date&.strftime("%B %d, %Y, %l:%M%p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
