<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Subgenre:</strong>
  <%= @book.subgenre %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<% end %>
<%= link_to 'Back', books_path %>

<% if current_user.try(:admin?) %>
<!--  TODO: show checkout history for this book-->
<% end %>
