<p>
  <strong>Userid:</strong>
  <%= @checkout_log.UserId %>
</p>

<p>
  <strong>Bookid:</strong>
  <%= @checkout_log.BookId %>
</p>

<p>
  <strong>checkout_date:</strong>
  <%= @checkout_log.checkout_date %>
</p>

<p>
  <strong>DueDate:</strong>
  <%= @checkout_log.due_date %>
</p>

<p>
  <strong>ReturnedDate:</strong>
  <%= @checkout_log.returned_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @checkout_log.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @checkout_log.book_id %>
</p>

<%= link_to 'Edit', edit_book_checkout_log_path(@checkout_log) %> |
<%= link_to 'Back', book_checkout_logs_path %>
